@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/*RESET*/
*{
  margin: 0;
  box-sizing: border-box;
  max-width: 1500px;
}


/*HEADER*/
.header{    
  background: url('images/bg-hero-desktop.svg') no-repeat;
  background-color: hsl(193, 100%, 96%);  
  padding-bottom: 40px;  
}

.nav{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;    
}

.menu{
  margin: 20px 60px;   
}

.menu button{
  background-color: white;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
  box-shadow: 0 0 1em gray;
}

.menu button:hover{
  background-color: hsl(322, 100%, 66%);
  color: white;
}

.menu img{
  width: 200px;
}

h1{
  font-size: 2rem;  
}

.info{
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 60px;
  align-items: center;
}

.description{  
  margin: 0 auto;
  flex: 1;
  line-height: 1.5em;
}

#text{
  margin-right: 100px;
}

.description h1{
  font-size: 2rem;
  line-height: 34px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.description p{
  margin-bottom: 30px;
  font-family: 'Opens Sans', sans-serif;
}

.description img{
  width: 700px; 
}

.description button{
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 15px 30px;
  box-shadow: 0 0 1em gray;
  margin: 0 auto;
}

.description button:hover{
  background-color: hsl(322, 90%, 82%);
  color:white;
}


/*MAIN CONTAINER*/
.main{
  max-width: 1000px;
  margin: 80px auto;
}

.box{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  align-items: center;
  border: none;
  box-shadow: 0 0 1em #d6d6d6;
  border-radius: 20px;
}

.box-container{
  margin: 40px 80px;
}

.box-container h2{
  font-size: 1.75rem;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.box-container p{
  color: hsl(208, 11%, 55%);
  line-height: 20px;
  font-family: 'Opens Sans', sans-serif;
}

.box-container img{
  width: 300px;
}

/*SECTION*/
.section{   
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index:4;  
}

.container-section{     
  padding: 30px 70px;   
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  border-width: 0.2px;
  border-color: gray;
  box-shadow: 0 0 0.5rem #d6d6d6;
  z-index:4;
  background-color: white;
}

.container-section h2{
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 800;
}

.container-section button{
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 20px 80px;
  box-shadow: 0 0 0.2rem black;
}   

.container-section button:hover{
  background-color: hsl(322, 90%, 82%);;
  color: white;
}

/*FOOTER*/
.footer{
  z-index: 0;
  margin-top: -60px;
  padding-top: 70px;
  background-color: hsl(192, 100%, 9%);
  color: #fff;    
}

.logo-footer{    
  margin: 20px 150px;
}

.container-footer{   
  max-width: 1100px;
  margin: 0 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; 
}

.info-footer{    
  flex: 1;
  display: flex;
  flex-wrap: wrap; 
  margin-right: 50px;      
}

.container-info{
  margin-bottom: 20px;  
  width: 375px;     
}

.container-info img{
  display: table-cell;    
  margin-right: 10px;
  float: left;
}

.container-info span {
  display: table-cell;        
}

.info-footer ol li{    
  list-style-type: none;
  column-width: 70px;
  column-count: 2;
  margin-bottom: 10px;
}

.info-footer li a{
  text-decoration: none;
  color: white;
  line-height: 2.5em;
}

.info-footer ol li:nth-child(odd) {
  float:left;   
}

.info-final{
  padding-bottom: 30px;
  margin: 0 60px;
  text-align: right;
}

.info-footer .social-network{
  margin-left: 10px;
}

.info-footer .social-network img{
  width: 30px;
}

.social-network img:hover{
  background-color: hsl(322, 100%, 66%);  
}